
  .search-txt{
    border:none;
    background:none;
    outline:none;
    float:left;
    padding:0;
    color:white;
    font-size:16px;
    transition:0.4s;
    line-height:40px;
    width:240px;
    
    
}
.search-box:hover> .search-txt{
    width:240px;
    padding:0 6px;
    
}


.search-btn{
    color:lightblue;
    float:right;
    width:40px;
    length:40px;
    border-radius:50%;
    background:#2f3640;
    display:flex;
    justify-content:center;
    align-items:center;
}


.search-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,50%); 
    background:#2f3640;
    height:40px;
    border-radius:40px;
    padding:10px;
    background:#2f3640;
    
}
          





h2 {
    text-align:center; 
}

body {
    background-color:lightblue;
    margin:0;
    padding:0  
     
        
    
        
        
        
}

h1 {
  color:Navy;
  font:12;
  font-family:garamond;
  text-align:center;
   
}/*
To change this license h
 eader, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Feb-2019, 18:33:43
    Author     : rossmcauliffe
*/

