h6 {
    text-align:left;
    color: navy;
    font-size: 20px;
    
}

h4 {
   
}

table {
    margin-left: 20px;
 
}

body {
  background-color: lightblue;
  text-align: center;
  
}

h1 {
  color: navy;
  margin-left: 20px;
  text-align: center;
  
}/*/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Feb-2019, 12:16:10
    Author     : 118340736
*/

